@media (max-width: 1439px) {
    .sidepanel {
        display: none;
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .sidepanel {
        display: none;
    }
    .aboutme {
        &__wrapper {
            grid-template-columns: 400px 520px;
            column-gap: 40px;
        }
        &__skills {
            column-gap: 20px;
            grid-template: repeat(2,minmax(115px,auto))/repeat(2,250px);
            &-item {
                grid-template-columns: 40px 195px;
                column-gap: 15px;
            }
        }
    }
    .resume {
        &__wrapper {
            grid-template-columns: repeat(2,364px);
            column-gap: 120px;
        }
    }
    .skills {
        &__wrapper {
            grid-template-columns: repeat(4,225px);
        }
        &__item {
            width: 225px;
            &-text {
                padding: 0 20px 5px 20px;
            }
        }
    }
    .portfolio {
        &__wrapper {
            grid-template-columns: repeat(4,236px);
            grid-template-rows: repeat(2,236px);
            grid-auto-rows: 236px;
        }
    }
    .contacts {
        &__wrapper {
            padding: 0 10px 0 10px;
            grid-template-columns: 400px 500px;
        }
        &__form {
            grid-template-columns: repeat(2, 250px);
        }
        &__input {
            max-width: 240px;
        }
        &__textarea {
            grid-column: 1 / 3;
            max-width: 490px;
        }
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .aboutme {
        padding-top: 80px;
        &__wrapper {
            grid-template-columns: 300px 380px;
            column-gap: 40px;
        }
        &__photo {
            grid-row: 1 / 2;
            img {
                width: 100%;
            }
        }
        &__skills {
            grid-column: 1 / 3;
            justify-content: space-between;            
            grid-template-columns: repeat(2, 350px);
            grid-template-rows: minmax(115px, auto);
            &-item {
                grid-template-columns: 40px 295px;
                column-gap: 15px;
            }
            .ui-ux {
                grid-column: 1 / 3;
                justify-content: start;
                grid-template-columns: 40px 665px;
                column-gap: 15px;
            }
        }
    }
    .resume {
        padding-top: 80px;
        &__wrapper {
            grid-template-columns: repeat(2,300px);
            column-gap: 80px;
            padding: 60px 10px 0 10px;
            justify-content: center;
        }
    }
    .skills {
        &__wrapper {
            grid-template-columns: repeat(2,270px);
            row-gap: 13px;
            justify-content: center;
        }
        &__item {
            width: 270px;
            &-text {
                padding: 0 20px 5px 20px;
            }
        }
    }
    .portfolio {
        padding-top: 80px;
        &__wrapper {
            grid-template-columns: repeat(4,175px);
            grid-template-rows: repeat(2,175px);
            grid-auto-rows: 175px;
        }
    }
    .contacts {
        padding-top: 80px;
        &__wrapper {
            padding: 0 10px 0 10px;
            grid-template-columns: 300px 380px;
        }
        &__form {
            margin-top: 20px;
            grid-template-columns: repeat(2, 190px);
            grid-template-rows: 45px 70px 45px;
            row-gap: 20px;
        }
        &__input {
            max-width: 180px;
        }
        &__textarea {
            grid-column: 1 / 3;
            max-width: 370px;
        }
        &__btn {
            border: none;
            font-size: 14px;
            line-height: 18px;
            font-weight: 700;
            padding: 0;
        }
    }
}

/*  Tablet verrsion */
@media (max-width: 768px) {
    .divider {
        margin-top: 10px;
    }
    .container {
        max-width: 540px;
    }
    .title {
        &_fsz48 {
            font-size: 30px;
        }
    }
    .promo {
        &__title {
            width: 310px;
            font-size: 30px;
            line-height: 36px;
        }
    }
    .aboutme {
        padding-top: 50px;
        &__wrapper {
            grid-template-columns: 1fr;
            grid-template-rows: auto auto auto;
            column-gap: 20px;
        }
        &__photo {
            display: none;
        }
        &__skills {
            grid-row: 3 / 4;
            grid-column: 1 / 3;
            justify-content: space-between;            
            grid-template-columns: repeat(2, 250px);
            grid-template-rows: minmax(115px, auto);
            &-item {
                grid-template-columns: 40px auto;
                column-gap: 15px;
            }
            .ui-ux {
                grid-column: 1 / 3;
                justify-content: start;
                grid-template-columns: 40px auto;
                column-gap: 15px;
            }
        }
    }
    .resume {
        padding-top: 50px;
        &__wrapper {
            grid-template-columns: repeat(2,250px);
            column-gap: 40px;
            padding: 30px 0px 0 0px;
            justify-content: center;
        }
    }
    .skills {
        padding-top: 50px;
        &__wrapper {
            padding: 30px 0px 0 0px;
            grid-template-columns: repeat(2,250px);
            gap: 20px;
        }
        &__item {
            width: 250px;
            height: auto;
            &-text {
                padding: 0 20px 5px 20px;
            }
        }
    }
    .portfolio {
        padding-top: 50px;
        &__wrapper {
            margin-top: 30px;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(2, 131.25px);
            grid-auto-rows: 1fr;
            gap: 5px;
        }
        .vertical {
            grid-row: 1 / 3;
            grid-column: 4 / 5;
            img {
                height: 267px;
            }            
        }
        .horizontal {
            grid-column: 2 / 4;
            grid-row: 2 / 3;
            img {
                height: 131.25px;
            }
        }
    }
    .contacts {
        padding-top: 50px;
        position: relative;
        min-height: 700px;
        &__wrapper {
            position: relative;
            padding: 0px;
            grid-template-columns: 250px 250px;
            justify-content: initial;
            column-gap: 30px;
        }
        &__subtitle {
            font-size: 36px;
            line-height: 42px;
        }
        &__form {
            margin-top: 20px;
            grid-template-columns: repeat(2, 270px);
            grid-template-rows: 45px 70px 45px;
            row-gap: 20px;
            column-gap: 10px;
        }
        &__input {
            position: relative;
            max-width: 260px;
            input {
                width: 100%;
                height: 100%;
                padding: 0 20px;
                font-size: 12px;
                font-weight: 500;
            }
        }
        .under {
            position: absolute;
            display: block;
            top: 385px;
            left: 0px;
        }
        &__textarea {
            min-width: 540px;
        }
        &__btn {
            border: none;
            font-size: 14px;
            line-height: 18px;
            font-weight: 700;
            padding: 0;
        }
    }
}

/* Mobile version */
@media (max-width: 576px) {
    .container {
        max-width: 100%;
        padding: 0 10px;
    }
    .title {
        &_fsz48 {
            font-size: 26px;
        }
        &_fsz36 {
            font-size: 24px;
            line-height: 36px;
            padding-top: 14px;
        }
    }
    .hamburger {
        right: 20px;
    }
    .menu {
        &__block {
            width: 250px;
            padding-left: 20px ;
        }
    }
    .promo {
        background: url('../img/main_bg.jpg') no-repeat 57%/cover;
        &__title {
            width: 290px;
            font-size: 26px;
            line-height: 34px;
        }
        &__btns {
            margin-top: 32px;
        }
    }
    .aboutme {
        padding-top: 50px;
        &__wrapper {
            padding: 0;
            margin: 0;
            grid-template-columns: 1fr;
            grid-template-rows: auto auto auto;
            column-gap: 20px;
        }
        &__photo {
            grid-row: unset;
            display: contents;
        }
        &__descr {
            grid-row: 2 / 4;
        }
        &__skills {
            width: 100%;
            grid-row: 4 / 5;
            grid-template-columns: 1fr;
            &-item {
                grid-column: 1 / 2;
            }
        }        
    }
    .resume {
        padding-top: 50px;
        &__wrapper {
            grid-template-columns: 1fr;
            padding: 30px 0px 0 0px;
            justify-content: center;
        }
    }
    .skills {
        padding-top: 50px;
        &__wrapper {
            padding: 30px 0px 0 0px;
            grid-template-columns: 1fr;
            row-gap: 20px;
            column-gap: 0;
        }
        &__item {
            width: 270px;
            height: 270px;
            justify-self: center;
            &-text {
                padding: 0 20px 5px 20px;
            }
        }
    }
    .portfolio {
        padding-top: 50px;
        &__wrapper {
            margin-top: 30px;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(6, 280px);
            grid-auto-rows: 280px;
            row-gap: 20px;
        }
        &__item, .horizontal, .vertical {
            width: 280px;
            grid-column: 1;
            justify-self: center;
            img {
                height: 100%;
                object-fit: cover;
            }
        }
        .horizontal {
            grid-row: auto;
        }
        .vertical {
            grid-row: auto;
        }
    }
    .contacts {
        padding-top: 50px;
        &__wrapper {
            position: relative;
            padding: 0px;
            grid-template-columns: 1fr;
            column-gap: 0px;
        }
        &__photo {
            display: none;
        }
        &__descr {
            max-width: 320px;
            justify-self: center;
        }
        .under {
            position: static;
        }
        &__form {
            margin-top: 20px;
            grid-template-columns: 1fr;
            grid-template-rows: 45px 45px 145px;
            row-gap: 30px;
            column-gap: 0px;
        }
        &__input {
            position: relative;
            max-width: 300px;
            grid-column: 1;
            input {
                width: 100%;
                height: 100%;
                padding: 0 20px;
                font-size: 12px;
                font-weight: 500;
            }
        }
        &__textarea {
            min-width: 300px;
            max-width: 300px;
            grid-column: 1;
        }
        &__triggers {
            grid-column: 1;
            display: grid;
            grid-template-columns: 1fr;
            row-gap: 20px;
        }
        &__policy {
            grid-row: 1 / 2;
        }
        &__btn {
            width: 220px;
            height: 45px;
            font-size: 14px;
            line-height: 21px;
            justify-self: center;
        }
    }
        
}